@import "tailwindcss";

:root {
  --font-body: var(--font-barlow);
  --font-heading: var(--font-fraunces);
}

body {
  font-family: var(--font-body);
}

.heading-font {
  font-family: var(--font-heading);
}
